:root {
  --color-primario: #42a5f5;
  --color-secundario: #e3f2fd;
  --color-texto: white;
}

html, body, #root{
    height: 100vh;
}


.footer {
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;  
}

.right-side {
    background-color: white;
    padding: 10px;
    min-height: 100vh;
}

#menu-container.collapsing {
    transition: none !important;
    height: auto !important;
}


.top-menu {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-content{
  height: min-content;
}